@font-face {
    font-family: 'Games-Italic';
    src: url('Fonts/Games-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'CallingCode-Regular';
    src: url('Fonts/CallingCode-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'NEXT ART_Regular';
    src: url('Fonts/NEXT ART_Regular.otf') format('opentype');
}

body {
    background-image: none;
    background-color: #231f20;
}

h1 {
    font-family: 'Games-Italic';
}

h2 {
    font-family: 'Games-Italic';
}
h3 {
    font-family: 'NEXT ART_Regular';
}
h4 {
    font-family: 'CallingCode-Regular';
}

label {
    font-size: 18px;
}

table {
    font-family: 'NEXT ART_Regular';
}
