@font-face {
    font-family: 'Games';
    src: url('Fonts/Games.ttf') format('truetype');
}

@font-face {
    font-family: 'Games-Italic';
    src: url('Fonts/Games-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'CallingCode-Regular';
    src: url('Fonts/CallingCode-Regular.otf') format('opentype');
}

body {
    font-family: 'CallingCode-Regular';
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url("/Content/Images/background.png");
    background-position: 50% 0;
    color: white;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}

.navfix {
    font-family: 'Games';
    font-size: 23px
}

.navbar-brand {
    font-family: 'Games';
    font-size: 23px
}

.dropdown-menu {
    background-color: darkgray;
    color: black;
    font-size: 20px;
}

/* Page text width */
@media (min-width: 1200px) {
    .container {
        max-width: 1370px;
    }
}

footer {
    font-family: 'CallingCode-Regular';
}
